# OS
.DS_Store
Thumbs.db

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
nutrition-app/build/

# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
nutrition-backend/staticfiles/

# Env files
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
